*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
#root{
  position: relative;
  min-height: 100vh;
  --primary-text-color: rgb(240, 240, 240);
  --primary-font:'GFS Didot, serif';
}

body {
    
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: linear-gradient(to bottom right, #d8a677, #c6d4d3, #bccaca, #c7a7ad);
  }